@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-VariableFont_wght.ttf');
    font-weight: 500 800;
    font-style: normal;
}

:root {
    font-size: 14px;

    --text-preset-1--size: 1.714285714rem;
    --text-preset-1--weight: 800;
    --text-preset-1--line-height: 150%;

    --text-preset-2--size: 1.142857143rem;
    --text-preset-2--weight: 500;
    --text-preset-2--line-height: 150%;

    --text-preset-3-medium--weight: 500;
    --text-preset-3-medium--line-height: 150%;

    --text-preset-3-bold--weight: 800;
    --text-preset-3-bold--line-height: 150%;

    --color-yellow: #F4D04E;
    --color-grey-950: #111111;
    --color-grey-500: #6B6B6B;
    --color-white: #FFFFFF;

    --spacing-50: 0.285714286rem;
    --spacing-100: 0.571428571rem;
    --spacing-150: 0.857142857rem;
    --spacing-300: 1.714285714rem;
}


/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

/* *** */

